/* body{
    background: #FD88AE;
    background: linear-gradient(180deg, #fd88ae 0%, #fde7ef 30%, #f07ab5 100%);
} */

header{
    display: flex;
    height: 16vh;
    background-color:#ffa8c3;
    color: white;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-between;
    
}

nav{
    margin: 50px;
    font-family: Schoolbell;
}

.comeco img{
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

nav.comeco{
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

nav.fim{
    display: flex;
    align-items: center;
}

nav.fim ul{
    display: flex;
    margin-right: 20px;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    text-decoration-style: dashed;
}

ul li{
    list-style: none;
}

main{
    background-color: #fdc4d6;
    padding-top: 30px;
}

main img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 60px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background-color: #fde7ef; */
}

.card{
    display: flex;
    width: 280px;
    height: 380px;
    background-color: #FEFEFE;
    border: 3px solid #f760bd;
    margin: 50px;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}

.card h3{
    display: flex;
    background-color: rgb(255, 57, 179);
    /* border-radius: 20px; */
    color: white;
    width: 100%;
    height: 12%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Story;
}

.card img{
    display: flex;
    width: 150px;
    height: 170px;
    justify-content: center;
    align-items: center;
}

.card2 img{
    width: 250px;
    height: 170px;
}

.card p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    text-align: center;
    font-family: Caveat;
}

button{
    display: flex;
    background-color: #FB6B93;
    color: white;
    border: none;
    padding: 10px;
    height: 35px;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBlog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 72vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 15px auto 40px auto;
}

.containerBlog h3{
    display: flex;
    color: #F65B85;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: Story;
}

.containerCard{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Caveat;
}

.cardBlog{
    display: flex;
    width: 420px;
    height: 370px;
    background-color: #FEDAEA;
    margin: auto 40px;
    margin-bottom: 30px;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.cardBlog img{
    display: flex;
    width: 90%;
    height: 70%;
    margin: 15px auto;
    border: 5px dashed white;
    border-radius: 20px;
}

.cardBlog h2{
    color: #DD7099;
    margin-bottom: 10px;
    font-size: 27px;
}

.cardBlog p{
    font-size: 18px;
    margin: 5px auto;
    
}

footer{
    display: flex;
    height: 10vh;
    background-color: #f87ba3;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}