body{
    background: #FD88AE;
    background: linear-gradient(180deg, #fd88ae 0%, #fde7ef 20%, #f07ab5 100%);
}

header{
    display: flex;
    height: 12vh;
    /* background-color:#FD88AE; */
    color: white;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-between;
}

nav{
    margin: 50px;
}

.comeco img{
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

nav.comeco{
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

nav.fim{
    display: flex;
    align-items: center;
}

nav.fim ul{
    display: flex;
    margin-right: 20px;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}

ul li{
    list-style: none;
}

main img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 60px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background-color: #fde7ef; */
}

.card{
    display: flex;
    width: 280px;
    height: 380px;
    background-color: #FEFEFE;
    border: 3px dotted #f760bd;
    margin: 50px;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}

.card h3{
    display: flex;
    background-color: rgb(255, 57, 179);
    /* border-radius: 20px; */
    color: white;
    width: 100%;
    height: 12%;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.card img{
    display: flex;
    width: 150px;
    height: 170px;
    justify-content: center;
    align-items: center;
}

.card2 img{
    width: 250px;
    height: 170px;
}

.card p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

button{
    display: flex;
    background-color: #FB6B93;
    color: white;
    border: none;
    padding: 10px;
    height: 35px;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;

}
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBlog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
}

.containerBlog h3{
    display: flex;
    color: #F65B85;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.cardBlog{
    display: flex;
    width: 500px;
    height: 250px;
    background-color: #FEDAEA;
    margin: 50px;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.cardBlog img{
    display: flex;
    height: 60%;
    margin: 10px;
    border: 2px dotted white;
}

.cardBlog h2{
    color: #DD7099;
}